.gallery-img-item {

    display: flex; /* Magic begins */
    flex-direction: column;
    justify-content: center; /* Center in main axis */
    align-items: center; /* Center in cross axis */

}
.gallery-img {

    max-width: 100%;
    max-height: 100%;

}
